
.Banner-header {
  text-transform: uppercase;
}

.Banner-logo {
  width: 400px;
  height: 400px;
  margin: auto;
}

.Raptor:hover {
  cursor: pointer;
}

.st0 {
  fill: none;
}

.ban {
  fill: red;
}
