.Clock {
  font-size: 40px;
}

.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds {
  color: white;
  margin: 20px;
  display: inline-block;
}

.Clock-digit {
  vertical-align: middle;
  padding: 20px;
  background-color: black;
}

.Clock-label {
  color: black;
}
